algorithm:
  policy: SimplePolicy
  policy_kwargs:
    features_extractor_class: StateExtractor
    features_extractor_kwargs:
      net_arch:
        state:
          layer: [512]
          ln: True

    critic:
      dist: mse
      n_critics: 2
      net_arch:
        layer: [512, 512]
        ln: True
    actor:
      dist: tanh_normal
      net_arch:
        layer: [512, 512]
        ln: True
    activation_fn: leaky_relu
    optimizer_class: adamW
    optimizer_kwargs:
      weight_decay: 0.0001
    share_features_extractor: False

  learning_rate:
    class: cosine
    kwargs:
      initial: 0.0001
      final: 0.0001
      period: 0.1
  horizon: 96
  tau: 0.005
  gamma: 0.99
  batch_size: 25600
  train_freq: 48
  gradient_steps: 10
  actor_gradient_steps: 1
  device: cuda

# Learning/training parameters
learn:
  total_timesteps: 50000000
  log_interval: 100

# Test parameters (for evaluation mode)
test:
  is_fig: True
  is_fig_save: True
  is_video: True
  is_video_save: True
  render_kwargs: {}
